alembic
aniso8601
attrs
blinker
click
Flask
Flask-Migrate
flask-restx
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
packaging
pytz
referencing
rpds-py
SQLAlchemy
typing_extensions
Werkzeug
