alembic
aniso8601
attrs
blinker
click
Faker
Flask
Flask-Cors
flask-marshmallow
Flask-Migrate
flask-restx
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
python-dateutil
pytz
referencing
rpds-py
six
SQLAlchemy
typing_extensions
Werkzeug
